attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
cx-Freeze==6.9
cx-Logging==3.0
et-xmlfile==1.1.0
fonttools==4.28.3
htmlmin==0.1.12
ImageHash==4.2.1
importlib-metadata==4.8.2
lxml==4.6.4
missingno==0.5.0
multimethod==1.6
networkx==2.6.3
numpy==1.21.5
opencv-python==4.5.4.60
openpyxl==3.0.9
packaging==21.3
pandas-profiling==3.1.0
phik==0.12.0
pi==0.1.2
pydantic==1.8.2
PyWavelets==1.2.0
PyYAML==6.0
seaborn==0.11.2
setuptools-scm==6.3.2
tangled-up-in-unicode==0.1.0
tomli==1.2.2
tqdm==4.62.3
typing-extensions==4.0.1
visions==0.7.4
xlrd==2.0.1
zipp==3.6.0
gunicorn==20.0.4
